"*":
  "exception-reporting":
    userId: "4f4a6974-1da8-cb33-4a12-f7a30e6a71ad"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontFamily: "Menlo for Powerline"
    fontSize: 13
  linter:
    statusBar: "Show error of the selected line"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
