"*":
  "atom-beautify":
    _analyticsUserId: "cdd83cd1-0e40-4ec0-8a20-80f8acfdcbee"
    language_markdown_beautify_on_save: true
  core:
    disabledPackages: [
      "language-gfm"
    ]
  editor:
    fontFamily: "Menlo for Powerline"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "4f4a6974-1da8-cb33-4a12-f7a30e6a71ad"
  "go-format": {}
  "go-plus":
    formatTool: "gofmt"
    goPath: "~/Development/goworkspace"
    lintOnSave: false
  "go-rename": {}
  "highlight-line":
    enableSelectionBorder: true
    hideHighlightOnSelect: true
    underline: "dashed"
  linter:
    statusBar: "Show error of the selected line"
  "linter-docker": {}
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-rubocop":
    command: "/usr/local/var/rbenv/shims/rubocop"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-write-good": {}
  "markdown-pdf": {}
  minimap:
    plugins:
      bookmarks: true
      "find-and-replace": true
      linter: true
      selection: true
  welcome:
    showOnStartup: false
