"*":
  "atom-beautify":
    _analyticsUserId: "cdd83cd1-0e40-4ec0-8a20-80f8acfdcbee"
    general:
      _analyticsUserId: "7f35bba7-5889-47e9-b606-2cdbf14d32af"
    language_markdown_beautify_on_save: true
  "autocomplete-go":
    snippetMode: "nameAndType"
  "build-make":
    useMake: true
  core:
    disabledPackages: [
      "language-gfm"
      "go-debug"
    ]
  editor:
    fontFamily: "Menlo for Powerline"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "4f4a6974-1da8-cb33-4a12-f7a30e6a71ad"
  figlet: {}
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "go-format": {}
  "go-plus":
    formatTool: "goimports"
    goPath: "~/Development/goworkspace"
    lintOnSave: true
  "go-rename": {}
  "highlight-line":
    enableSelectionBorder: true
    hideHighlightOnSelect: true
    underline: "dashed"
  linter:
    statusBar: "Show error of the selected line"
  "linter-ansible-linting": {}
  "linter-docker": {}
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-rubocop":
    command: "/usr/local/var/rbenv/shims/rubocop"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-write-good": {}
  "markdown-pdf": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  welcome:
    showOnStartup: false
